/* this is my custom CSS */
.card {
            background-color:#fff;
           // border: 1px solid #d4d4d4;
            height:120px;
            margin: 20px;
            position: relative;
        }

.cardHeader {
    background-color:#027FF4;
    font-size:14pt;
    color:white;
    padding:5px;
    width:100%;
}
.cardContainer {
    width:85%;
}
.cardBody {
    padding-left: 5px;
}
.cardBodyLeft {
    margin-top: 2px;
}
.cardBodyRight {
    margin-left: 20px;
    margin-top: 2px;
}
.cardBodyContent {
    width: 100px;
}
.cardImage {
    height:50px;width:50px;margin-top:10px;
}
.close {
    font-size:15pt;
    opacity: 1.0;
}
.cardClose {
    color: white;
    font-weight:bold;
    margin-right:5px;
}

.formDiv {
    background-color:#eee; 
    width: 300px;
    height: 500px;
}

.edit {
    color: blue;
    background-color: white;
}

.navbar {
    background-color: green;        }

.navbar-inverse .navbar-brand  {
    color: white;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.alert .alert-info .tableheading{
    background-color: silver;
    color: white;
}


.img-display {
    height:100px;
    width:100%;
}

.table-striped>tr:nth-child(odd)>td{
    background-color: #f97777;
}

.rightfloat{
    float: right;
}

.leftfloat{
    float: left;
}

.alternatecolor:nth-child(odd) { 
    background: #f9f9f9; 
}

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

