<div class="alert alert-info tableheading">
	{{allRestaurants.length}} Restaurants found!
</div>
<table class="table table-stripped">
<tr>
	<th>Name</th><th></th><th>Rating</th>
</tr>
<tr>
	<td>Chinese</td><td><input type="checkbox" name="Chinese" ng-model="chineseChecked"></td>
</tr>
<tr>
	<td>Indian</td><td><input type="checkbox" name="Indian" ng-model="indianChecked"></td>
</tr>
<tr>
	<td>Thai</td><td><input type="checkbox" name="Thai" ng-model="thaiChecked"></td>
</tr>
<tr>
	<td>Vegeterian</td><td><input type="checkbox" name="Vegeterian" ng-model="vegetarianChecked"></td>
</tr>
</table>