<div class="alert alert-info tableheading">
	Filter Restaurants
</div>
<table class="table table-stripped">
<tr>
	<th>Cuisine</th><th></th><th></th>
</tr>
<tr>
	<td>Chinese</td><td><input type="checkbox" name="Chinese" ng-model="filter['chinese']" ></td>
</tr>
<tr>
	<td>Indian</td><td><input type="checkbox" name="Indian" ng-model="filter['indian']"></td>
</tr>
<tr>
	<td>Thai</td><td><input type="checkbox" name="Thai" ng-model="filter['thai']"></td>
</tr>
<tr>
	<td>Vegetarian</td><td><input type="checkbox" name="Vegeterian" ng-model="filter['vegetarian']"></td>
</tr>
</table>