<div class="alert alert-info tableheading">
	{{allRestaurants.length}} Restaurants found!
</div>
<table class="table table-stripped">
<tr>
	<th>Name</th><th></th><th>Rating</th>
</tr>

<tr ng-repeat="restaurant in allRestaurants">
	<td class="col-md-2 col-sm-2"><img class="img-rounded img-display" ng-src="/images/{{restaurant.id}}.png"></td>
	<td class="col-md-5 col-sm-5">{{restaurant.name}}<br>{{restaurant.description}}</td>
	<td class="col-md-1 col-sm-1">{{restaurant.rating}}</td>
</tr>
</table>