<div class="col-sm-12" ng-controller="OrderDetailsController">

<div class="row" ng-controller="customerInfoController">
	<div class="col-sm-5">
		<strong>Deliver to :</strong> <br><br>{{userInfo.name}} <br> {{userInfo.address}} <br>
		<a href="" ng-click="changeUserInfo()" value="Change"> Change </a> 
	</div>

	<div class="rightfloat">
			<div class="leftfloat">Payment </div><br/>

			<form>
			<select class="leftfloat">
			  <option value="visa">Visa</option>
			  <option value="mastercard">MasterCard</option>
			  <option value="maestro">Maestro</option>			  
			</select><br/>

			<input type="text" name="cardnumber" placeholder="Card No" 
			pattern="^(6767|6334)(-\d{4}){3}($|\d{2,3}$)" required><br/>

			<input type="text" name="validity" placeholder="Valid through" required 
			pattern="^(0[1-9]|1[012])[-/.](19|20)\d\d$">
			<input type="text" name="cvv" placeholder="CVV" required pattern="^[0-9]{3,4}$">
			<input type="submit" class="btn btn-danger" name="Add Details" value="Verify Details">
			</form>
		</div>
</div>

<br>

<div  ng-controller="OrderDetailsController">
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item alternatecolor" >
				<h4 class="list-group-item-heading"> Your Order</h4>
			</li>

			<li class="list-group-item alternatecolor" >
				<div class="list-group-item-text row">
					<span class="col-sm-3">Qty</span>
					<span class="col-sm-5">Item name</span>
					<span class="col-sm-2">Price</span>
					<span class="col-sm-2">Subtotal</span>
				</div>
			</li>
			
			<li class="list-group-item alternatecolor" ng-repeat="(cartitem, quantity) in cartItems">
				<!-- <h4 class="list-group-item-heading"> {{menuitem.name}} </h4>  -->
				<div class="list-group-item-text row">
					<span class="col-sm-3">		
						<input type="number"
                                	ng-model="cartItems[cartitem]" ng-change="updateTotal()" min="0"/>
					</span>
					<span class="col-sm-5">
						{{cartitem}} 
					</span>
					<span class="col-sm-2">
						{{priceItems[cartitem]}} 
					</span>
					<span class="col-sm-2">
						{{priceItems[cartitem] * quantity}} 
					</span>
					
				</div>
			</li>
			<li class="list-group-item alternatecolor">
				<div class="list-group-item-text row">
					<div class="col-sm-8">
					</div>
					<div class="col-sm-2">
						Total Price: 
					</div>
					<div class="col-sm-2">
						${{totalPrice}}
					</div>	
				</div>
				
			</li>
		</ul>
	</div>	
	<div class="row">
		<a href='/#/menu/{{restaurantId}}'>
			Back to Menu
		</a>
		&nbsp
		<a class="clear-cart" href="/#/">
		<button ng-click="clearCart()" class="btn btn-danger">
			Clear Cart
		</button>
		</a>
		&nbsp
		<button ng-click="purchase()" class="btn btn-primary">
			Purchase
		</button>
	</div>

	<br>
	<div class="row alert alert-info" ng-show="success">
	<span>Order Placed Successfully</span>
	<button  type="button" class=" rightfloat btn btn-primary" ng-click="changeView('/')">Build Another Order</button>
	</div>

</div>

