<div class="col-sm-12" ng-controller="OrderDetailsController">
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item" >
				<h4 class="list-group-item-heading"> Your Order</h4>
			</li>

			<li class="list-group-item" >
				<div class="list-group-item-text row">
					<span class="col-sm-2">Qty</span>
					<span class="col-sm-6">Item name</span>
					<span class="col-sm-2">Price</span>
					<span class="col-sm-2">Subtotal</span>
				</div>
			</li>
			
			<li class="list-group-item" ng-repeat="(cartitem, quantity) in cartItems">
				<!-- <h4 class="list-group-item-heading"> {{menuitem.name}} </h4>  -->
				<div class="list-group-item-text row">
					<span class="col-sm-2">		
						<input type="number"
                                	ng-model="cartItems[cartitem]" ng-change="updateTotal()" min="0"/>
					</span>
					<span class="col-sm-6">
						{{cartitem}} 
					</span>
					<span class="col-sm-2">
						{{priceItems[cartitem]}} 
					</span>
					<span class="col-sm-2">
						{{priceItems[cartitem] * quantity}} 
					</span>
					
				</div>
			</li>
			<li class="list-group-item">
				<div class="list-group-item-text row">
					<div class="col-sm-8">
					</div>
					<div class="col-sm-2">
						Total Price: 
					</div>
					<div class="col-sm-2">
						${{totalPrice}}
					</div>	
				</div>
				
			</li>
		</ul>
	</div>	
	<div class="row">
		<button ng-click="clearCart()">
			Clear Cart
		</button>
		<button ng-click="purchase()">
			Purchase
		</button>
	</div>

	<div class="row" ng-show="success">
	<h4>Order Placed Successfully</h4>
	<button type="button" class="btn btn-primary" ng-click="changeView('/')">Build Another Order</button>
	</div>
</div>