	<!-- Modal -->
	<div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="customerLoginController">

		<br/><br/><br/><br/><br/><br/>

	    <div class="vertical-alignment-helper">
	        <div class="modal-dialog vertical-align-center">
	            <div class="modal-content">
	                <div class="modal-header">
	                    </button>
	                     <h4 class="modal-title" id="myModalLabel">Welcome Foodie</h4>

	                </div>
	                <div class="modal-body">
    					<label  for="Name">Name:</label>
    					<div > 
      						<input type="text" class="form-control" ng-model="newInfo.name" />
    					</div>

    					<label  for="Address">Address:</label>
    					<div > 
      						<input type="text" class="form-control" ng-model="newInfo.address" />
    					</div>

	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-primary" ng-click="updateCustomer()">List Restaurants</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
