<div ng-controller="customerInfoController">
	<user-info></user-info>
</div>

<div class="container" ng-controller="RestaurantDetailsController">
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<img src="images/{{restaurantDetails.id}}.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
		</div>
		<div class="col-sm-8 col-md-9">
			<h2>{{restaurantDetails.name}}</h2>
			{{restaurantDetails.description}}
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-10 col-md-7" >
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" >
						<h4 class="list-group-item-heading"> Menu</h4>
					</li>
					<li class="list-group-item" >
						<div class="list-group-item-text row">
						<span class="col-sm-8 col-xs-8">
							<b>Item Name</b> 
						</span>	
						<span class="col-sm-3 col-xs-3">
							<b>Price</b> 
						</span>
						</div>
						<!-- <h4 class="list-group-item-heading"> Name</h4> 
						<p class="list-group-item-text"> Price </p> -->
					</li>
					
					<li class="list-group-item" ng-repeat="menuitem in menuitems">
						<!-- <h4 class="list-group-item-heading"> {{menuitem.name}} </h4>  -->
						<div class="list-group-item-text row">
						<span class="col-sm-8 col-xs-8">
							{{menuitem.name}} 
						</span>	
						<span class="col-sm-3 col-xs-3">
							{{menuitem.price}} 
						</span>
						<button ng-click="addToCart(menuitem, restaurantDetails.id)">
							+ 
						</button>
						</div>
					</li>
				</ul>
			</div>	
		</div>

		<div class="col-sm-2 col-md-1">	
		</div>
		
		<div class="col-sm-10 col-md-4">
			<div class="row">
				<ul class="list-group">
					<li class="list-group-item" >
						<h4 class="list-group-item-heading"> Your Order</h4>
					</li>
					<li class="list-group-item" ng-repeat="(cartitem, quantity) in cartItems">
						<!-- <h4 class="list-group-item-heading"> {{menuitem.name}} </h4>  -->
						<div class="list-group-item-text row">
							<span class="col-sm-1 col-xs-1">
								<button ng-click="removeItem(cartitem)" class="btn btn-danger btn-sm">
									-
								</button>
							</span>

							<span class="col-sm-6 col-xs-6">	
							{{quantity}} x {{cartitem}} 
							</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="col-sm-6 col-xs-6">
							Total Price: ${{totalPrice}}
						</div>
						<a href='/#/checkout'">
							Checkout
						</a>
						&nbsp
						<a class="clear-cart" href="/#/">
							<button ng-click="clearCart()" class="btn btn-danger">
								Clear Cart
							</button>
						</a>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>